   <!-- Page Content overlay -->
   <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)">FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Purchase Now</a>
          </li>
        </ul>
    </div>
      © 2023 <a href="https://crypto.everworldwidelogistics.com/">Crypto Growth Investment All Rights Reserved.
  </a></footer><a href="https://crypto.everworldwidelogistics.com/">
 
 
 
 <!-- Mirrored from www.GoldenXoptiontrading.com.com/en/footer.php by HTTrack Website Copier/3.x [XR&CO'2017], Fri, 06 Nov 2021 08:43:47 GMT -->
 
 
 <script src="//code.tidio.co/ .js" async=""></script>
    <!-- Vendor JS -->
    <script src="https://kit.fontawesome.com/65fbfdb369.js" crossorigin="anonymous"></script>

    <script src="https://crypto.everworldwidelogistics.com/user/account/bs5/main-horizontal/js/vendors.min.js"></script>
    <script src="https://crypto.everworldwidelogistics.com/user/account/bs5/main-horizontal/js/pages/chat-popup.js"></script>
    <script src="https://crypto.everworldwidelogistics.com/user/account/bs5/assets/icons/feather-icons/feather.min.js"></script>
    
    <script src="../../../../www.amcharts.com/lib/4/core.js"></script>
    <script src="../../../../www.amcharts.com/lib/4/charts.js"></script>
    <script src="../../../../www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="https://crypto.everworldwidelogistics.com/user/account/bs5/assets/vendor_components/apexcharts-bundle/irregular-data-series.js"></script>
    <script src="https://crypto.everworldwidelogistics.com/user/account/bs5/assets/vendor_components/apexcharts-bundle/dist/apexcharts.js"></script>
    <script src="https://crypto.everworldwidelogistics.com/user/account/bs5/main-horizontal/js/pages/ohlc.js"></script>	
    <script src="https://crypto.everworldwidelogistics.com/user/account/bs5/assets/vendor_components/Web-Ticker-master/jquery.webticker.min.js"></script>
    
    <!-- Crypto Admin App -->
    <script src="https://crypto.everworldwidelogistics.com/user/account/bs5/main-horizontal/js/jquery.smartmenus.js"></script>
    <script src="https://crypto.everworldwidelogistics.com/user/account/bs5/main-horizontal/js/menus.js"></script>
    <script src="https://crypto.everworldwidelogistics.com/user/account/bs5/main-horizontal/js/template.js"></script>
    <script src="https://crypto.everworldwidelogistics.com/user/account/bs5/main-horizontal/js/pages/dashboard19.js"></script>
    <script src="https://crypto.everworldwidelogistics.com/user/account/bs5/main-horizontal/js/pages/fullscreen.js"></script>
        
    
 