<html lang="en" style="height: auto; min-height: 100%;"><!-- Mirrored from crypto-admin-templates.replace/sass/bs5/main-horizontal/index19.html by HTTrack Website Copier/3.x [XR&CO'2017], Mon, 03 May 2021 03:05:55 GMT --><head>
   
    <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="https://crypto.everworldwidelogistics.com/favicon.ico">

   <title>Dashboard |Target Growth Investment</title>
   
   <!-- Vendors Style-->
   <link rel="stylesheet" href="https://crypto.everworldwidelogistics.com/user/account/bs5/main-horizontal/css/vendors_css.css"> 
     
   <!-- Style-->    
   <link rel="stylesheet" href="https://crypto.everworldwidelogistics.com/user/account/bs5/main-horizontal/css/horizontal-menu.css"> 
   <link rel="stylesheet" href="https://crypto.everworldwidelogistics.com/user/account/bs5/main-horizontal/css/style.css">
   <link rel="stylesheet" href="https://crypto.everworldwidelogistics.com/user/account/bs5/main-horizontal/css/skin_color.css">
    <script type="text/javascript" src="https://crypto.everworldwidelogistics.com/user/account/bs5/jquery.js"></script>
   <script type="text/javascript" src="https://crypto.everworldwidelogistics.com/user/account/bs5/j10.js"></script>
   <script type="text/javascript" src="https://crypto.everworldwidelogistics.com/user/account/bs5/jquery.js"></script>
   <script type="text/javascript" src="https://crypto.everworldwidelogistics.com/user/account/bs5/j10.js"></script>
   <script src="https://crypto.everworldwidelogistics.com/bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://crypto.everworldwidelogistics.com/bower_components/sweetalert2/dist/sweetalert2.min.css"> 
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
   <link rel="stylesheet" href="/stylesheet/css/style.css" crossorigin="anonymous">
   <style>.swal2-popup.swal2-toast{flex-direction:column;align-items:stretch;width:auto;padding:1.25em;overflow-y:hidden;background:#fff;box-shadow:0 0 .625em #d9d9d9}.swal2-popup.swal2-toast .swal2-header{flex-direction:row;padding:0}.swal2-popup.swal2-toast .swal2-title{flex-grow:1;justify-content:flex-start;margin:0 .625em;font-size:1em}.swal2-popup.swal2-toast .swal2-loading{justify-content:center}.swal2-popup.swal2-toast .swal2-input{height:2em;margin:.3125em auto;font-size:1em}.swal2-popup.swal2-toast .swal2-validation-message{font-size:1em}.swal2-popup.swal2-toast .swal2-footer{margin:.5em 0 0;padding:.5em 0 0;font-size:.8em}.swal2-popup.swal2-toast .swal2-close{position:static;width:.8em;height:.8em;line-height:.8}.swal2-popup.swal2-toast .swal2-content{justify-content:flex-start;margin:0 .625em;padding:0;font-size:1em;text-align:initial}.swal2-popup.swal2-toast .swal2-html-container{padding:.625em 0 0}.swal2-popup.swal2-toast .swal2-html-container:empty{padding:0}.swal2-popup.swal2-toast .swal2-icon{width:2em;min-width:2em;height:2em;margin:0 .5em 0 0}.swal2-popup.swal2-toast .swal2-icon .swal2-icon-content{display:flex;align-items:center;font-size:1.8em;font-weight:700}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.swal2-popup.swal2-toast .swal2-icon .swal2-icon-content{font-size:.25em}}.swal2-popup.swal2-toast .swal2-icon.swal2-success .swal2-success-ring{width:2em;height:2em}.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line]{top:.875em;width:1.375em}.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left]{left:.3125em}.swal2-popup.swal2-toast .swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right]{right:.3125em}.swal2-popup.swal2-toast .swal2-actions{flex:1;flex-basis:auto!important;align-self:stretch;width:auto;height:2.2em;height:auto;margin:0 .3125em;margin-top:.3125em;padding:0}.swal2-popup.swal2-toast .swal2-styled{margin:.125em .3125em;padding:.3125em .625em;font-size:1em}.swal2-popup.swal2-toast .swal2-styled:focus{box-shadow:0 0 0 1px #fff,0 0 0 3px rgba(100,150,200,.5)}.swal2-popup.swal2-toast .swal2-success{border-color:#a5dc86}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line]{position:absolute;width:1.6em;height:3em;transform:rotate(45deg);border-radius:50%}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line][class$=left]{top:-.8em;left:-.5em;transform:rotate(-45deg);transform-origin:2em 2em;border-radius:4em 0 0 4em}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-circular-line][class$=right]{top:-.25em;left:.9375em;transform-origin:0 1.5em;border-radius:0 4em 4em 0}.swal2-popup.swal2-toast .swal2-success .swal2-success-ring{width:2em;height:2em}.swal2-popup.swal2-toast .swal2-success .swal2-success-fix{top:0;left:.4375em;width:.4375em;height:2.6875em}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line]{height:.3125em}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line][class$=tip]{top:1.125em;left:.1875em;width:.75em}.swal2-popup.swal2-toast .swal2-success [class^=swal2-success-line][class$=long]{top:.9375em;right:.1875em;width:1.375em}.swal2-popup.swal2-toast .swal2-success.swal2-icon-show .swal2-success-line-tip{-webkit-animation:swal2-toast-animate-success-line-tip .75s;animation:swal2-toast-animate-success-line-tip .75s}.swal2-popup.swal2-toast .swal2-success.swal2-icon-show .swal2-success-line-long{-webkit-animation:swal2-toast-animate-success-line-long .75s;animation:swal2-toast-animate-success-line-long .75s}.swal2-popup.swal2-toast.swal2-show{-webkit-animation:swal2-toast-show .5s;animation:swal2-toast-show .5s}.swal2-popup.swal2-toast.swal2-hide{-webkit-animation:swal2-toast-hide .1s forwards;animation:swal2-toast-hide .1s forwards}.swal2-container{display:flex;position:fixed;z-index:1060;top:0;right:0;bottom:0;left:0;flex-direction:row;align-items:center;justify-content:center;padding:.625em;overflow-x:hidden;transition:background-color .1s;-webkit-overflow-scrolling:touch}.swal2-container.swal2-backdrop-show,.swal2-container.swal2-noanimation{background:rgba(0,0,0,.4)}.swal2-container.swal2-backdrop-hide{background:0 0!important}.swal2-container.swal2-top{align-items:flex-start}.swal2-container.swal2-top-left,.swal2-container.swal2-top-start{align-items:flex-start;justify-content:flex-start}.swal2-container.swal2-top-end,.swal2-container.swal2-top-right{align-items:flex-start;justify-content:flex-end}.swal2-container.swal2-center{align-items:center}.swal2-container.swal2-center-left,.swal2-container.swal2-center-start{align-items:center;justify-content:flex-start}.swal2-container.swal2-center-end,.swal2-container.swal2-center-right{align-items:center;justify-content:flex-end}.swal2-container.swal2-bottom{align-items:flex-end}.swal2-container.swal2-bottom-left,.swal2-container.swal2-bottom-start{align-items:flex-end;justify-content:flex-start}.swal2-container.swal2-bottom-end,.swal2-container.swal2-bottom-right{align-items:flex-end;justify-content:flex-end}.swal2-container.swal2-bottom-end>:first-child,.swal2-container.swal2-bottom-left>:first-child,.swal2-container.swal2-bottom-right>:first-child,.swal2-container.swal2-bottom-start>:first-child,.swal2-container.swal2-bottom>:first-child{margin-top:auto}.swal2-container.swal2-grow-fullscreen>.swal2-modal{display:flex!important;flex:1;align-self:stretch;justify-content:center}.swal2-container.swal2-grow-row>.swal2-modal{display:flex!important;flex:1;align-content:center;justify-content:center}.swal2-container.swal2-grow-column{flex:1;flex-direction:column}.swal2-container.swal2-grow-column.swal2-bottom,.swal2-container.swal2-grow-column.swal2-center,.swal2-container.swal2-grow-column.swal2-top{align-items:center}.swal2-container.swal2-grow-column.swal2-bottom-left,.swal2-container.swal2-grow-column.swal2-bottom-start,.swal2-container.swal2-grow-column.swal2-center-left,.swal2-container.swal2-grow-column.swal2-center-start,.swal2-container.swal2-grow-column.swal2-top-left,.swal2-container.swal2-grow-column.swal2-top-start{align-items:flex-start}.swal2-container.swal2-grow-column.swal2-bottom-end,.swal2-container.swal2-grow-column.swal2-bottom-right,.swal2-container.swal2-grow-column.swal2-center-end,.swal2-container.swal2-grow-column.swal2-center-right,.swal2-container.swal2-grow-column.swal2-top-end,.swal2-container.swal2-grow-column.swal2-top-right{align-items:flex-end}.swal2-container.swal2-grow-column>.swal2-modal{display:flex!important;flex:1;align-content:center;justify-content:center}.swal2-container.swal2-no-transition{transition:none!important}.swal2-container:not(.swal2-top):not(.swal2-top-start):not(.swal2-top-end):not(.swal2-top-left):not(.swal2-top-right):not(.swal2-center-start):not(.swal2-center-end):not(.swal2-center-left):not(.swal2-center-right):not(.swal2-bottom):not(.swal2-bottom-start):not(.swal2-bottom-end):not(.swal2-bottom-left):not(.swal2-bottom-right):not(.swal2-grow-fullscreen)>.swal2-modal{margin:auto}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.swal2-container .swal2-modal{margin:0!important}}.swal2-popup{display:none;position:relative;box-sizing:border-box;flex-direction:column;justify-content:center;width:32em;max-width:100%;padding:1.25em;border:none;border-radius:5px;background:#fff;font-family:inherit;font-size:1rem}.swal2-popup:focus{outline:0}.swal2-popup.swal2-loading{overflow-y:hidden}.swal2-header{display:flex;flex-direction:column;align-items:center;padding:0 1.8em}.swal2-title{position:relative;max-width:100%;margin:0 0 .4em;padding:0;color:#595959;font-size:1.875em;font-weight:600;text-align:center;text-transform:none;word-wrap:break-word}.swal2-actions{display:flex;z-index:1;box-sizing:border-box;flex-wrap:wrap;align-items:center;justify-content:center;width:100%;margin:1.25em auto 0;padding:0}.swal2-actions:not(.swal2-loading) .swal2-styled[disabled]{opacity:.4}.swal2-actions:not(.swal2-loading) .swal2-styled:hover{background-image:linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1))}.swal2-actions:not(.swal2-loading) .swal2-styled:active{background-image:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2))}.swal2-loader{display:none;align-items:center;justify-content:center;width:2.2em;height:2.2em;margin:0 1.875em;-webkit-animation:swal2-rotate-loading 1.5s linear 0s infinite normal;animation:swal2-rotate-loading 1.5s linear 0s infinite normal;border-width:.25em;border-style:solid;border-radius:100%;border-color:#2778c4 transparent #2778c4 transparent}.swal2-styled{margin:.3125em;padding:.625em 1.1em;box-shadow:none;font-weight:500}.swal2-styled:not([disabled]){cursor:pointer}.swal2-styled.swal2-confirm{border:0;border-radius:.25em;background:initial;background-color:#2778c4;color:#fff;font-size:1em}.swal2-styled.swal2-deny{border:0;border-radius:.25em;background:initial;background-color:#d14529;color:#fff;font-size:1em}.swal2-styled.swal2-cancel{border:0;border-radius:.25em;background:initial;background-color:#757575;color:#fff;font-size:1em}.swal2-styled:focus{outline:0;box-shadow:0 0 0 3px rgba(100,150,200,.5)}.swal2-styled::-moz-focus-inner{border:0}.swal2-footer{justify-content:center;margin:1.25em 0 0;padding:1em 0 0;border-top:1px solid #eee;color:#545454;font-size:1em}.swal2-timer-progress-bar-container{position:absolute;right:0;bottom:0;left:0;height:.25em;overflow:hidden;border-bottom-right-radius:5px;border-bottom-left-radius:5px}.swal2-timer-progress-bar{width:100%;height:.25em;background:rgba(0,0,0,.2)}.swal2-image{max-width:100%;margin:1.25em auto}.swal2-close{position:absolute;z-index:2;top:0;right:0;align-items:center;justify-content:center;width:1.2em;height:1.2em;padding:0;overflow:hidden;transition:color .1s ease-out;border:none;border-radius:5px;background:0 0;color:#ccc;font-family:serif;font-size:2.5em;line-height:1.2;cursor:pointer}.swal2-close:hover{transform:none;background:0 0;color:#f27474}.swal2-close:focus{outline:0;box-shadow:inset 0 0 0 3px rgba(100,150,200,.5)}.swal2-close::-moz-focus-inner{border:0}.swal2-content{z-index:1;justify-content:center;margin:0;padding:0 1.6em;color:#545454;font-size:1.125em;font-weight:400;line-height:normal;text-align:center;word-wrap:break-word}.swal2-checkbox,.swal2-file,.swal2-input,.swal2-radio,.swal2-select,.swal2-textarea{margin:1em auto}.swal2-file,.swal2-input,.swal2-textarea{box-sizing:border-box;width:100%;transition:border-color .3s,box-shadow .3s;border:1px solid #d9d9d9;border-radius:.1875em;background:inherit;box-shadow:inset 0 1px 1px rgba(0,0,0,.06);color:inherit;font-size:1.125em}.swal2-file.swal2-inputerror,.swal2-input.swal2-inputerror,.swal2-textarea.swal2-inputerror{border-color:#f27474!important;box-shadow:0 0 2px #f27474!important}.swal2-file:focus,.swal2-input:focus,.swal2-textarea:focus{border:1px solid #b4dbed;outline:0;box-shadow:0 0 0 3px rgba(100,150,200,.5)}.swal2-file::-moz-placeholder,.swal2-input::-moz-placeholder,.swal2-textarea::-moz-placeholder{color:#ccc}.swal2-file:-ms-input-placeholder,.swal2-input:-ms-input-placeholder,.swal2-textarea:-ms-input-placeholder{color:#ccc}.swal2-file::placeholder,.swal2-input::placeholder,.swal2-textarea::placeholder{color:#ccc}.swal2-range{margin:1em auto;background:#fff}.swal2-range input{width:80%}.swal2-range output{width:20%;color:inherit;font-weight:600;text-align:center}.swal2-range input,.swal2-range output{height:2.625em;padding:0;font-size:1.125em;line-height:2.625em}.swal2-input{height:2.625em;padding:0 .75em}.swal2-input[type=number]{max-width:10em}.swal2-file{background:inherit;font-size:1.125em}.swal2-textarea{height:6.75em;padding:.75em}.swal2-select{min-width:50%;max-width:100%;padding:.375em .625em;background:inherit;color:inherit;font-size:1.125em}.swal2-checkbox,.swal2-radio{align-items:center;justify-content:center;background:#fff;color:inherit}.swal2-checkbox label,.swal2-radio label{margin:0 .6em;font-size:1.125em}.swal2-checkbox input,.swal2-radio input{flex-shrink:0;margin:0 .4em}.swal2-input-label{display:flex;justify-content:center;margin:1em auto}.swal2-validation-message{align-items:center;justify-content:center;margin:0 -2.7em;padding:.625em;overflow:hidden;background:#f0f0f0;color:#666;font-size:1em;font-weight:300}.swal2-validation-message::before{content:"!";display:inline-block;width:1.5em;min-width:1.5em;height:1.5em;margin:0 .625em;border-radius:50%;background-color:#f27474;color:#fff;font-weight:600;line-height:1.5em;text-align:center}.swal2-icon{position:relative;box-sizing:content-box;justify-content:center;width:5em;height:5em;margin:1.25em auto 1.875em;border:.25em solid transparent;border-radius:50%;border-color:#000;font-family:inherit;line-height:5em;cursor:default;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.swal2-icon .swal2-icon-content{display:flex;align-items:center;font-size:3.75em}.swal2-icon.swal2-error{border-color:#f27474;color:#f27474}.swal2-icon.swal2-error .swal2-x-mark{position:relative;flex-grow:1}.swal2-icon.swal2-error [class^=swal2-x-mark-line]{display:block;position:absolute;top:2.3125em;width:2.9375em;height:.3125em;border-radius:.125em;background-color:#f27474}.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=left]{left:1.0625em;transform:rotate(45deg)}.swal2-icon.swal2-error [class^=swal2-x-mark-line][class$=right]{right:1em;transform:rotate(-45deg)}.swal2-icon.swal2-error.swal2-icon-show{-webkit-animation:swal2-animate-error-icon .5s;animation:swal2-animate-error-icon .5s}.swal2-icon.swal2-error.swal2-icon-show .swal2-x-mark{-webkit-animation:swal2-animate-error-x-mark .5s;animation:swal2-animate-error-x-mark .5s}.swal2-icon.swal2-warning{border-color:#facea8;color:#f8bb86}.swal2-icon.swal2-info{border-color:#9de0f6;color:#3fc3ee}.swal2-icon.swal2-question{border-color:#c9dae1;color:#87adbd}.swal2-icon.swal2-success{border-color:#a5dc86;color:#a5dc86}.swal2-icon.swal2-success [class^=swal2-success-circular-line]{position:absolute;width:3.75em;height:7.5em;transform:rotate(45deg);border-radius:50%}.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=left]{top:-.4375em;left:-2.0635em;transform:rotate(-45deg);transform-origin:3.75em 3.75em;border-radius:7.5em 0 0 7.5em}.swal2-icon.swal2-success [class^=swal2-success-circular-line][class$=right]{top:-.6875em;left:1.875em;transform:rotate(-45deg);transform-origin:0 3.75em;border-radius:0 7.5em 7.5em 0}.swal2-icon.swal2-success .swal2-success-ring{position:absolute;z-index:2;top:-.25em;left:-.25em;box-sizing:content-box;width:100%;height:100%;border:.25em solid rgba(165,220,134,.3);border-radius:50%}.swal2-icon.swal2-success .swal2-success-fix{position:absolute;z-index:1;top:.5em;left:1.625em;width:.4375em;height:5.625em;transform:rotate(-45deg)}.swal2-icon.swal2-success [class^=swal2-success-line]{display:block;position:absolute;z-index:2;height:.3125em;border-radius:.125em;background-color:#a5dc86}.swal2-icon.swal2-success [class^=swal2-success-line][class$=tip]{top:2.875em;left:.8125em;width:1.5625em;transform:rotate(45deg)}.swal2-icon.swal2-success [class^=swal2-success-line][class$=long]{top:2.375em;right:.5em;width:2.9375em;transform:rotate(-45deg)}.swal2-icon.swal2-success.swal2-icon-show .swal2-success-line-tip{-webkit-animation:swal2-animate-success-line-tip .75s;animation:swal2-animate-success-line-tip .75s}.swal2-icon.swal2-success.swal2-icon-show .swal2-success-line-long{-webkit-animation:swal2-animate-success-line-long .75s;animation:swal2-animate-success-line-long .75s}.swal2-icon.swal2-success.swal2-icon-show .swal2-success-circular-line-right{-webkit-animation:swal2-rotate-success-circular-line 4.25s ease-in;animation:swal2-rotate-success-circular-line 4.25s ease-in}.swal2-progress-steps{flex-wrap:wrap;align-items:center;max-width:100%;margin:0 0 1.25em;padding:0;background:inherit;font-weight:600}.swal2-progress-steps li{display:inline-block;position:relative}.swal2-progress-steps .swal2-progress-step{z-index:20;flex-shrink:0;width:2em;height:2em;border-radius:2em;background:#2778c4;color:#fff;line-height:2em;text-align:center}.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step{background:#2778c4}.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step{background:#add8e6;color:#fff}.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step-line{background:#add8e6}.swal2-progress-steps .swal2-progress-step-line{z-index:10;flex-shrink:0;width:2.5em;height:.4em;margin:0 -1px;background:#2778c4}[class^=swal2]{-webkit-tap-highlight-color:transparent}.swal2-show{-webkit-animation:swal2-show .3s;animation:swal2-show .3s}.swal2-hide{-webkit-animation:swal2-hide .15s forwards;animation:swal2-hide .15s forwards}.swal2-noanimation{transition:none}.swal2-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}.swal2-rtl .swal2-close{right:auto;left:0}.swal2-rtl .swal2-timer-progress-bar{right:0;left:auto}@supports (-ms-accelerator:true){.swal2-range input{width:100%!important}.swal2-range output{display:none}}@media all and (-ms-high-contrast:none),(-ms-high-contrast:active){.swal2-range input{width:100%!important}.swal2-range output{display:none}}@-webkit-keyframes swal2-toast-show{0%{transform:translateY(-.625em) rotateZ(2deg)}33%{transform:translateY(0) rotateZ(-2deg)}66%{transform:translateY(.3125em) rotateZ(2deg)}100%{transform:translateY(0) rotateZ(0)}}@keyframes swal2-toast-show{0%{transform:translateY(-.625em) rotateZ(2deg)}33%{transform:translateY(0) rotateZ(-2deg)}66%{transform:translateY(.3125em) rotateZ(2deg)}100%{transform:translateY(0) rotateZ(0)}}@-webkit-keyframes swal2-toast-hide{100%{transform:rotateZ(1deg);opacity:0}}@keyframes swal2-toast-hide{100%{transform:rotateZ(1deg);opacity:0}}@-webkit-keyframes swal2-toast-animate-success-line-tip{0%{top:.5625em;left:.0625em;width:0}54%{top:.125em;left:.125em;width:0}70%{top:.625em;left:-.25em;width:1.625em}84%{top:1.0625em;left:.75em;width:.5em}100%{top:1.125em;left:.1875em;width:.75em}}@keyframes swal2-toast-animate-success-line-tip{0%{top:.5625em;left:.0625em;width:0}54%{top:.125em;left:.125em;width:0}70%{top:.625em;left:-.25em;width:1.625em}84%{top:1.0625em;left:.75em;width:.5em}100%{top:1.125em;left:.1875em;width:.75em}}@-webkit-keyframes swal2-toast-animate-success-line-long{0%{top:1.625em;right:1.375em;width:0}65%{top:1.25em;right:.9375em;width:0}84%{top:.9375em;right:0;width:1.125em}100%{top:.9375em;right:.1875em;width:1.375em}}@keyframes swal2-toast-animate-success-line-long{0%{top:1.625em;right:1.375em;width:0}65%{top:1.25em;right:.9375em;width:0}84%{top:.9375em;right:0;width:1.125em}100%{top:.9375em;right:.1875em;width:1.375em}}@-webkit-keyframes swal2-show{0%{transform:scale(.7)}45%{transform:scale(1.05)}80%{transform:scale(.95)}100%{transform:scale(1)}}@keyframes swal2-show{0%{transform:scale(.7)}45%{transform:scale(1.05)}80%{transform:scale(.95)}100%{transform:scale(1)}}@-webkit-keyframes swal2-hide{0%{transform:scale(1);opacity:1}100%{transform:scale(.5);opacity:0}}@keyframes swal2-hide{0%{transform:scale(1);opacity:1}100%{transform:scale(.5);opacity:0}}@-webkit-keyframes swal2-animate-success-line-tip{0%{top:1.1875em;left:.0625em;width:0}54%{top:1.0625em;left:.125em;width:0}70%{top:2.1875em;left:-.375em;width:3.125em}84%{top:3em;left:1.3125em;width:1.0625em}100%{top:2.8125em;left:.8125em;width:1.5625em}}@keyframes swal2-animate-success-line-tip{0%{top:1.1875em;left:.0625em;width:0}54%{top:1.0625em;left:.125em;width:0}70%{top:2.1875em;left:-.375em;width:3.125em}84%{top:3em;left:1.3125em;width:1.0625em}100%{top:2.8125em;left:.8125em;width:1.5625em}}@-webkit-keyframes swal2-animate-success-line-long{0%{top:3.375em;right:2.875em;width:0}65%{top:3.375em;right:2.875em;width:0}84%{top:2.1875em;right:0;width:3.4375em}100%{top:2.375em;right:.5em;width:2.9375em}}@keyframes swal2-animate-success-line-long{0%{top:3.375em;right:2.875em;width:0}65%{top:3.375em;right:2.875em;width:0}84%{top:2.1875em;right:0;width:3.4375em}100%{top:2.375em;right:.5em;width:2.9375em}}@-webkit-keyframes swal2-rotate-success-circular-line{0%{transform:rotate(-45deg)}5%{transform:rotate(-45deg)}12%{transform:rotate(-405deg)}100%{transform:rotate(-405deg)}}@keyframes swal2-rotate-success-circular-line{0%{transform:rotate(-45deg)}5%{transform:rotate(-45deg)}12%{transform:rotate(-405deg)}100%{transform:rotate(-405deg)}}@-webkit-keyframes swal2-animate-error-x-mark{0%{margin-top:1.625em;transform:scale(.4);opacity:0}50%{margin-top:1.625em;transform:scale(.4);opacity:0}80%{margin-top:-.375em;transform:scale(1.15)}100%{margin-top:0;transform:scale(1);opacity:1}}@keyframes swal2-animate-error-x-mark{0%{margin-top:1.625em;transform:scale(.4);opacity:0}50%{margin-top:1.625em;transform:scale(.4);opacity:0}80%{margin-top:-.375em;transform:scale(1.15)}100%{margin-top:0;transform:scale(1);opacity:1}}@-webkit-keyframes swal2-animate-error-icon{0%{transform:rotateX(100deg);opacity:0}100%{transform:rotateX(0);opacity:1}}@keyframes swal2-animate-error-icon{0%{transform:rotateX(100deg);opacity:0}100%{transform:rotateX(0);opacity:1}}@-webkit-keyframes swal2-rotate-loading{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}@keyframes swal2-rotate-loading{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){overflow:hidden}body.swal2-height-auto{height:auto!important}body.swal2-no-backdrop .swal2-container{top:auto;right:auto;bottom:auto;left:auto;max-width:calc(100% - .625em * 2);background-color:transparent!important}body.swal2-no-backdrop .swal2-container>.swal2-modal{box-shadow:0 0 10px rgba(0,0,0,.4)}body.swal2-no-backdrop .swal2-container.swal2-top{top:0;left:50%;transform:translateX(-50%)}body.swal2-no-backdrop .swal2-container.swal2-top-left,body.swal2-no-backdrop .swal2-container.swal2-top-start{top:0;left:0}body.swal2-no-backdrop .swal2-container.swal2-top-end,body.swal2-no-backdrop .swal2-container.swal2-top-right{top:0;right:0}body.swal2-no-backdrop .swal2-container.swal2-center{top:50%;left:50%;transform:translate(-50%,-50%)}body.swal2-no-backdrop .swal2-container.swal2-center-left,body.swal2-no-backdrop .swal2-container.swal2-center-start{top:50%;left:0;transform:translateY(-50%)}body.swal2-no-backdrop .swal2-container.swal2-center-end,body.swal2-no-backdrop .swal2-container.swal2-center-right{top:50%;right:0;transform:translateY(-50%)}body.swal2-no-backdrop .swal2-container.swal2-bottom{bottom:0;left:50%;transform:translateX(-50%)}body.swal2-no-backdrop .swal2-container.swal2-bottom-left,body.swal2-no-backdrop .swal2-container.swal2-bottom-start{bottom:0;left:0}body.swal2-no-backdrop .swal2-container.swal2-bottom-end,body.swal2-no-backdrop .swal2-container.swal2-bottom-right{right:0;bottom:0}@media print{body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown){overflow-y:scroll!important}body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown)>[aria-hidden=true]{display:none}body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) .swal2-container{position:static!important}}body.swal2-toast-shown .swal2-container{background-color:transparent}body.swal2-toast-shown .swal2-container.swal2-top{top:0;right:auto;bottom:auto;left:50%;transform:translateX(-50%)}body.swal2-toast-shown .swal2-container.swal2-top-end,body.swal2-toast-shown .swal2-container.swal2-top-right{top:0;right:0;bottom:auto;left:auto}body.swal2-toast-shown .swal2-container.swal2-top-left,body.swal2-toast-shown .swal2-container.swal2-top-start{top:0;right:auto;bottom:auto;left:0}body.swal2-toast-shown .swal2-container.swal2-center-left,body.swal2-toast-shown .swal2-container.swal2-center-start{top:50%;right:auto;bottom:auto;left:0;transform:translateY(-50%)}body.swal2-toast-shown .swal2-container.swal2-center{top:50%;right:auto;bottom:auto;left:50%;transform:translate(-50%,-50%)}body.swal2-toast-shown .swal2-container.swal2-center-end,body.swal2-toast-shown .swal2-container.swal2-center-right{top:50%;right:0;bottom:auto;left:auto;transform:translateY(-50%)}body.swal2-toast-shown .swal2-container.swal2-bottom-left,body.swal2-toast-shown .swal2-container.swal2-bottom-start{top:auto;right:auto;bottom:0;left:0}body.swal2-toast-shown .swal2-container.swal2-bottom{top:auto;right:auto;bottom:0;left:50%;transform:translateX(-50%)}body.swal2-toast-shown .swal2-container.swal2-bottom-end,body.swal2-toast-shown .swal2-container.swal2-bottom-right{top:auto;right:0;bottom:0;left:auto}</style>
   <link rel="stylesheet" href="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css">
 <link type="text/css" rel="stylesheet" charset="UTF-8" href="https://www.gstatic.com/_/translate_http/_/ss/k=translate_http.tr.69JJaQ5G5xA.L.W.O/d=0/rs=AN8SPfpC36MIoWPngdVwZ4RUzeJYZaC7rg/m=el_main_css"><script type="text/javascript" charset="UTF-8" src="https://translate.googleapis.com/_/translate_http/_/js/k=translate_http.tr.en_US.SgvysdUI7YI.O/d=1/exm=el_conf/ed=1/rs=AN8SPfrtadqztINiewNVajiLUNaLHHQsDw/m=el_main"></script><style>.coinPriceBlock{font-style:normal;width:141px;padding:16px;background:#fff;border-radius:16px;box-shadow:#e1e5ea 0px 1px 6px 0px;box-sizing:border-box;display:inline-block;margin-right:16px}.coinPriceBlock-wrapper .loading-text{display:block;text-align:center;line-height:150px;color:#a1a7bb}.coinPriceBlock-wrapper--dark{background:#171924}.coinPriceBlock-wrapper--dark select{color:#fff}.coinPriceBlock-wrapper--transparent{background:transparent !important}.coinPriceBlock-wrapper--transparent .coinPriceBlock{background:transparent !important;box-shadow:#e1e5ea 0px 0px 0px 1px !important}.coinPriceBlock-container{overflow-x:scroll;overflow-y:hidden;white-space:nowrap;padding:10px 10px;box-sizing:border-box;min-height:174px}.coinPriceBlock-container--dark .coinPriceBlock{background:#171924;box-shadow:#40424f 0px 0px 0px 1px}.coinPriceBlock-container--dark .coinPriceBlock__title{color:#fff}.coinPriceBlock-container--dark .coinPriceBlock__price{color:#a1a7bb}.coinPriceBlock-container--dark .coinPriceBlock-signature__powerBy{color:#a1a7bb}.coinPriceBlock-footer{margin-top:14px;padding:0px 15px;overflow:hidden}.coinPriceBlock-currency{float:left;display:flex;align-items:center;cursor:pointer}.coinPriceBlock-currency img{display:inline-block;width:22px;border-radius:3px}.coinPriceBlock-currency select{margin-left:4px;display:inline-block;border:none;outline:none;background-color:transparent;cursor:pointer}.coinPriceBlock-currency select:disabled{cursor:not-allowed}.coinPriceBlock-signature{overflow:hidden;line-height:18px;float:right}.coinPriceBlock-signature__powerBy{float:right;font-weight:500;font-size:11px;color:#808a9d;margin-right:5px}.coinPriceBlock-signature svg{float:right}.coinPriceBlock__icon{padding-bottom:10px;font-size:0;line-height:0}.coinPriceBlock__icon>img{height:36px}.coinPriceBlock__title{font-weight:600;font-size:16px;line-height:1.6;color:#000;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.coinPriceBlock__title a{color:inherit;text-decoration:none}.coinPriceBlock__price{font-weight:500;font-size:14px;line-height:1;color:#58667e;padding-bottom:16px}.coinPriceBlock__changes{height:21px;display:-webkit-inline-box;align-items:center;font-weight:600;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;font-size:12px;line-height:21px;color:#fff;border-radius:8px;padding:0px 6px}.coinPriceBlock__changes .icon{width:0;height:0;position:relative;left:0px;margin-left:2px;margin-right:4px}.coinPriceBlock__changes--up{background-color:#16c784}.coinPriceBlock__changes--up .icon{top:-9px;border-left:4px solid transparent;border-right:4px solid transparent;border-bottom:4px solid #fff}.coinPriceBlock__changes--down{background-color:#ea3943}.coinPriceBlock__changes--down .icon{top:10px;border-left:4px solid transparent;border-right:4px solid transparent;border-top:4px solid #fff}</style><style type="text/css">.apexcharts-canvas {
 position: relative;
 user-select: none;
 /* cannot give overflow: hidden as it will crop tooltips which overflow outside chart area */
}


/* scrollbar is not visible by default for legend, hence forcing the visibility */
.apexcharts-canvas ::-webkit-scrollbar {
 -webkit-appearance: none;
 width: 6px;
}

.apexcharts-canvas ::-webkit-scrollbar-thumb {
 border-radius: 4px;
 background-color: rgba(0, 0, 0, .5);
 box-shadow: 0 0 1px rgba(255, 255, 255, .5);
 -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.apexcharts-canvas.apexcharts-theme-dark {
 background: #424242;
}

.apexcharts-inner {
 position: relative;
}

.apexcharts-text tspan {
 font-family: inherit;
}

.legend-mouseover-inactive {
 transition: 0.15s ease all;
 opacity: 0.20;
}

.apexcharts-series-collapsed {
 opacity: 0;
}

.apexcharts-tooltip {
 border-radius: 5px;
 box-shadow: 2px 2px 6px -4px #999;
 cursor: default;
 font-size: 14px;
 left: 62px;
 opacity: 0;
 pointer-events: none;
 position: absolute;
 top: 20px;
 overflow: hidden;
 white-space: nowrap;
 z-index: 12;
 transition: 0.15s ease all;
}

.apexcharts-tooltip.apexcharts-active {
 opacity: 1;
 transition: 0.15s ease all;
}

.apexcharts-tooltip.apexcharts-theme-light {
 border: 1px solid #e3e3e3;
 background: rgba(255, 255, 255, 0.96);
}

.apexcharts-tooltip.apexcharts-theme-dark {
 color: #fff;
 background: rgba(30, 30, 30, 0.8);
}

.apexcharts-tooltip * {
 font-family: inherit;
}


.apexcharts-tooltip-title {
 padding: 6px;
 font-size: 15px;
 margin-bottom: 4px;
}

.apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
 background: #ECEFF1;
 border-bottom: 1px solid #ddd;
}

.apexcharts-tooltip.apexcharts-theme-dark .apexcharts-tooltip-title {
 background: rgba(0, 0, 0, 0.7);
 border-bottom: 1px solid #333;
}

.apexcharts-tooltip-text-value,
.apexcharts-tooltip-text-z-value {
 display: inline-block;
 font-weight: 600;
 margin-left: 5px;
}

.apexcharts-tooltip-text-z-label:empty,
.apexcharts-tooltip-text-z-value:empty {
 display: none;
}

.apexcharts-tooltip-text-value,
.apexcharts-tooltip-text-z-value {
 font-weight: 600;
}

.apexcharts-tooltip-marker {
 width: 12px;
 height: 12px;
 position: relative;
 top: 0px;
 margin-right: 10px;
 border-radius: 50%;
}

.apexcharts-tooltip-series-group {
 padding: 0 10px;
 display: none;
 text-align: left;
 justify-content: left;
 align-items: center;
}

.apexcharts-tooltip-series-group.apexcharts-active .apexcharts-tooltip-marker {
 opacity: 1;
}

.apexcharts-tooltip-series-group.apexcharts-active,
.apexcharts-tooltip-series-group:last-child {
 padding-bottom: 4px;
}

.apexcharts-tooltip-series-group-hidden {
 opacity: 0;
 height: 0;
 line-height: 0;
 padding: 0 !important;
}

.apexcharts-tooltip-y-group {
 padding: 6px 0 5px;
}

.apexcharts-tooltip-candlestick {
 padding: 4px 8px;
}

.apexcharts-tooltip-candlestick>div {
 margin: 4px 0;
}

.apexcharts-tooltip-candlestick span.value {
 font-weight: bold;
}

.apexcharts-tooltip-rangebar {
 padding: 5px 8px;
}

.apexcharts-tooltip-rangebar .category {
 font-weight: 600;
 color: #777;
}

.apexcharts-tooltip-rangebar .series-name {
 font-weight: bold;
 display: block;
 margin-bottom: 5px;
}

.apexcharts-xaxistooltip {
 opacity: 0;
 padding: 9px 10px;
 pointer-events: none;
 color: #373d3f;
 font-size: 13px;
 text-align: center;
 border-radius: 2px;
 position: absolute;
 z-index: 10;
 background: #ECEFF1;
 border: 1px solid #90A4AE;
 transition: 0.15s ease all;
}

.apexcharts-xaxistooltip.apexcharts-theme-dark {
 background: rgba(0, 0, 0, 0.7);
 border: 1px solid rgba(0, 0, 0, 0.5);
 color: #fff;
}

.apexcharts-xaxistooltip:after,
.apexcharts-xaxistooltip:before {
 left: 50%;
 border: solid transparent;
 content: " ";
 height: 0;
 width: 0;
 position: absolute;
 pointer-events: none;
}

.apexcharts-xaxistooltip:after {
 border-color: rgba(236, 239, 241, 0);
 border-width: 6px;
 margin-left: -6px;
}

.apexcharts-xaxistooltip:before {
 border-color: rgba(144, 164, 174, 0);
 border-width: 7px;
 margin-left: -7px;
}

.apexcharts-xaxistooltip-bottom:after,
.apexcharts-xaxistooltip-bottom:before {
 bottom: 100%;
}

.apexcharts-xaxistooltip-top:after,
.apexcharts-xaxistooltip-top:before {
 top: 100%;
}

.apexcharts-xaxistooltip-bottom:after {
 border-bottom-color: #ECEFF1;
}

.apexcharts-xaxistooltip-bottom:before {
 border-bottom-color: #90A4AE;
}

.apexcharts-xaxistooltip-bottom.apexcharts-theme-dark:after {
 border-bottom-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-xaxistooltip-bottom.apexcharts-theme-dark:before {
 border-bottom-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-xaxistooltip-top:after {
 border-top-color: #ECEFF1
}

.apexcharts-xaxistooltip-top:before {
 border-top-color: #90A4AE;
}

.apexcharts-xaxistooltip-top.apexcharts-theme-dark:after {
 border-top-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-xaxistooltip-top.apexcharts-theme-dark:before {
 border-top-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-xaxistooltip.apexcharts-active {
 opacity: 1;
 transition: 0.15s ease all;
}

.apexcharts-yaxistooltip {
 opacity: 0;
 padding: 4px 10px;
 pointer-events: none;
 color: #373d3f;
 font-size: 13px;
 text-align: center;
 border-radius: 2px;
 position: absolute;
 z-index: 10;
 background: #ECEFF1;
 border: 1px solid #90A4AE;
}

.apexcharts-yaxistooltip.apexcharts-theme-dark {
 background: rgba(0, 0, 0, 0.7);
 border: 1px solid rgba(0, 0, 0, 0.5);
 color: #fff;
}

.apexcharts-yaxistooltip:after,
.apexcharts-yaxistooltip:before {
 top: 50%;
 border: solid transparent;
 content: " ";
 height: 0;
 width: 0;
 position: absolute;
 pointer-events: none;
}

.apexcharts-yaxistooltip:after {
 border-color: rgba(236, 239, 241, 0);
 border-width: 6px;
 margin-top: -6px;
}

.apexcharts-yaxistooltip:before {
 border-color: rgba(144, 164, 174, 0);
 border-width: 7px;
 margin-top: -7px;
}

.apexcharts-yaxistooltip-left:after,
.apexcharts-yaxistooltip-left:before {
 left: 100%;
}

.apexcharts-yaxistooltip-right:after,
.apexcharts-yaxistooltip-right:before {
 right: 100%;
}

.apexcharts-yaxistooltip-left:after {
 border-left-color: #ECEFF1;
}

.apexcharts-yaxistooltip-left:before {
 border-left-color: #90A4AE;
}

.apexcharts-yaxistooltip-left.apexcharts-theme-dark:after {
 border-left-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-yaxistooltip-left.apexcharts-theme-dark:before {
 border-left-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-yaxistooltip-right:after {
 border-right-color: #ECEFF1;
}

.apexcharts-yaxistooltip-right:before {
 border-right-color: #90A4AE;
}

.apexcharts-yaxistooltip-right.apexcharts-theme-dark:after {
 border-right-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-yaxistooltip-right.apexcharts-theme-dark:before {
 border-right-color: rgba(0, 0, 0, 0.5);
}

.apexcharts-yaxistooltip.apexcharts-active {
 opacity: 1;
}

.apexcharts-yaxistooltip-hidden {
 display: none;
}

.apexcharts-xcrosshairs,
.apexcharts-ycrosshairs {
 pointer-events: none;
 opacity: 0;
 transition: 0.15s ease all;
}

.apexcharts-xcrosshairs.apexcharts-active,
.apexcharts-ycrosshairs.apexcharts-active {
 opacity: 1;
 transition: 0.15s ease all;
}

.apexcharts-ycrosshairs-hidden {
 opacity: 0;
}

.apexcharts-selection-rect {
 cursor: move;
}

.svg_select_boundingRect, .svg_select_points_rot {
 pointer-events: none;
 opacity: 0;
 visibility: hidden;
}
.apexcharts-selection-rect + g .svg_select_boundingRect,
.apexcharts-selection-rect + g .svg_select_points_rot {
 opacity: 0;
 visibility: hidden;
}

.apexcharts-selection-rect + g .svg_select_points_l,
.apexcharts-selection-rect + g .svg_select_points_r {
 cursor: ew-resize;
 opacity: 1;
 visibility: visible;
}

.svg_select_points {
 fill: #efefef;
 stroke: #333;
 rx: 2;
}

.apexcharts-canvas.apexcharts-zoomable .hovering-zoom {
 cursor: crosshair
}

.apexcharts-canvas.apexcharts-zoomable .hovering-pan {
 cursor: move
}

.apexcharts-zoom-icon,
.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon,
.apexcharts-reset-icon,
.apexcharts-pan-icon,
.apexcharts-selection-icon,
.apexcharts-menu-icon,
.apexcharts-toolbar-custom-icon {
 cursor: pointer;
 width: 20px;
 height: 20px;
 line-height: 24px;
 color: #6E8192;
 text-align: center;
}

.apexcharts-zoom-icon svg,
.apexcharts-zoomin-icon svg,
.apexcharts-zoomout-icon svg,
.apexcharts-reset-icon svg,
.apexcharts-menu-icon svg {
 fill: #6E8192;
}

.apexcharts-selection-icon svg {
 fill: #444;
 transform: scale(0.76)
}

.apexcharts-theme-dark .apexcharts-zoom-icon svg,
.apexcharts-theme-dark .apexcharts-zoomin-icon svg,
.apexcharts-theme-dark .apexcharts-zoomout-icon svg,
.apexcharts-theme-dark .apexcharts-reset-icon svg,
.apexcharts-theme-dark .apexcharts-pan-icon svg,
.apexcharts-theme-dark .apexcharts-selection-icon svg,
.apexcharts-theme-dark .apexcharts-menu-icon svg,
.apexcharts-theme-dark .apexcharts-toolbar-custom-icon svg {
 fill: #f3f4f5;
}

.apexcharts-canvas .apexcharts-zoom-icon.apexcharts-selected svg,
.apexcharts-canvas .apexcharts-selection-icon.apexcharts-selected svg,
.apexcharts-canvas .apexcharts-reset-zoom-icon.apexcharts-selected svg {
 fill: #008FFB;
}

.apexcharts-theme-light .apexcharts-selection-icon:not(.apexcharts-selected):hover svg,
.apexcharts-theme-light .apexcharts-zoom-icon:not(.apexcharts-selected):hover svg,
.apexcharts-theme-light .apexcharts-zoomin-icon:hover svg,
.apexcharts-theme-light .apexcharts-zoomout-icon:hover svg,
.apexcharts-theme-light .apexcharts-reset-icon:hover svg,
.apexcharts-theme-light .apexcharts-menu-icon:hover svg {
 fill: #333;
}

.apexcharts-selection-icon,
.apexcharts-menu-icon {
 position: relative;
}

.apexcharts-reset-icon {
 margin-left: 5px;
}

.apexcharts-zoom-icon,
.apexcharts-reset-icon,
.apexcharts-menu-icon {
 transform: scale(0.85);
}

.apexcharts-zoomin-icon,
.apexcharts-zoomout-icon {
 transform: scale(0.7)
}

.apexcharts-zoomout-icon {
 margin-right: 3px;
}

.apexcharts-pan-icon {
 transform: scale(0.62);
 position: relative;
 left: 1px;
 top: 0px;
}

.apexcharts-pan-icon svg {
 fill: #fff;
 stroke: #6E8192;
 stroke-width: 2;
}

.apexcharts-pan-icon.apexcharts-selected svg {
 stroke: #008FFB;
}

.apexcharts-pan-icon:not(.apexcharts-selected):hover svg {
 stroke: #333;
}

.apexcharts-toolbar {
 position: absolute;
 z-index: 11;
 max-width: 176px;
 text-align: right;
 border-radius: 3px;
 padding: 0px 6px 2px 6px;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.apexcharts-menu {
 background: #fff;
 position: absolute;
 top: 100%;
 border: 1px solid #ddd;
 border-radius: 3px;
 padding: 3px;
 right: 10px;
 opacity: 0;
 min-width: 110px;
 transition: 0.15s ease all;
 pointer-events: none;
}

.apexcharts-menu.apexcharts-menu-open {
 opacity: 1;
 pointer-events: all;
 transition: 0.15s ease all;
}

.apexcharts-menu-item {
 padding: 6px 7px;
 font-size: 12px;
 cursor: pointer;
}

.apexcharts-theme-light .apexcharts-menu-item:hover {
 background: #eee;
}

.apexcharts-theme-dark .apexcharts-menu {
 background: rgba(0, 0, 0, 0.7);
 color: #fff;
}

@media screen and (min-width: 768px) {
 .apexcharts-canvas:hover .apexcharts-toolbar {
   opacity: 1;
 }
}

.apexcharts-datalabel.apexcharts-element-hidden {
 opacity: 0;
}

.apexcharts-pie-label,
.apexcharts-datalabels,
.apexcharts-datalabel,
.apexcharts-datalabel-label,
.apexcharts-datalabel-value {
 cursor: default;
 pointer-events: none;
}

.apexcharts-pie-label-delay {
 opacity: 0;
 animation-name: opaque;
 animation-duration: 0.3s;
 animation-fill-mode: forwards;
 animation-timing-function: ease;
}

.apexcharts-canvas .apexcharts-element-hidden {
 opacity: 0;
}

.apexcharts-hide .apexcharts-series-points {
 opacity: 0;
}

.apexcharts-gridline,
.apexcharts-annotation-rect,
.apexcharts-tooltip .apexcharts-marker,
.apexcharts-area-series .apexcharts-area,
.apexcharts-line,
.apexcharts-zoom-rect,
.apexcharts-toolbar svg,
.apexcharts-area-series .apexcharts-series-markers .apexcharts-marker.no-pointer-events,
.apexcharts-line-series .apexcharts-series-markers .apexcharts-marker.no-pointer-events,
.apexcharts-radar-series path,
.apexcharts-radar-series polygon {
 pointer-events: none;
}


/* markers */

.apexcharts-marker {
 transition: 0.15s ease all;
}

@keyframes opaque {
 0% {
   opacity: 0;
 }
 100% {
   opacity: 1;
 }
}


/* Resize generated styles */

@keyframes resizeanim {
 from {
   opacity: 0;
 }
 to {
   opacity: 0;
 }
}

.resize-triggers {
 animation: 1ms resizeanim;
 visibility: hidden;
 opacity: 0;
}

.resize-triggers,
.resize-triggers>div,
.contract-trigger:before {
 content: " ";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 100%;
 overflow: hidden;
}

.resize-triggers>div {
 background: #eee;
 overflow: auto;
}

.contract-trigger:before {
 width: 200%;
 height: 200%;
}</style><style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;box-sizing: content-box;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style></head>
 

<body class="layout-top-nav dark-skin theme-warning fixed" style="overflow: auto; position: relative; min-height: 100%; top: 0px; height: auto;" data-new-gr-c-s-check-loaded="14.1112.0" data-gr-ext-installed="">
   
<div class="wrapper" style="height: auto; min-height: 100%;">
   <div id="loader" style="opacity: 0.05; display: none;"></div>
   
 <header class="main-header">
     <div class="inside-header">
       <div class="d-flex align-items-center logo-box justify-content-start">
           <!-- Logo -->
           <a href="/dashboard" class="logo">
             <!-- logo-->
             <div class="logo-lg">
                 <span class="light-logo"><img src="https://crypto.everworldwidelogistics.com/logo.png" width="200px" height="40px" alt="logo"></span>
                 <span class="dark-logo"><img src="https://crypto.everworldwidelogistics.com/logo.png" width="200px" height="40px" alt="logo"></span>
             </div>
           </a>	
       </div> 
       <!-- Header Navbar -->
       <nav class="navbar sticky-top">
         <div class="app-menu">
           <ul class="header-megamenu nav">
               <li class="btn-group nav-item d-none d-xl-inline-block">
                   <a href="#
" class="waves-effect waves-light nav-link svg-bt-icon btn-primary-light" title="Chat">
                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg>
                   </a>
               </li>
               <li class="btn-group nav-item d-none d-xl-inline-block">
                   <a href="mailto:admin@everworldwidelogistics.com" class="waves-effect waves-light nav-link svg-bt-icon btn-primary-light" title="Mailbox">
                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
                   </a>
               </li>
               
           </ul> 
         </div>
        

         <div class="navbar-custom-menu r-side">
           <ul class="nav navbar-nav">		  
               <div id="google_translate_element"><div class="skiptranslate goog-te-gadget" dir="ltr" style=""><div id=":0.targetLanguage"><select class="goog-te-combo" aria-label="Language Translate Widget"><option value="">Select Language</option><option value="af">Afrikaans</option><option value="sq">Albanian</option><option value="am">Amharic</option><option value="ar">Arabic</option><option value="hy">Armenian</option><option value="as">Assamese</option><option value="ay">Aymara</option><option value="az">Azerbaijani</option><option value="bm">Bambara</option><option value="eu">Basque</option><option value="be">Belarusian</option><option value="bn">Bengali</option><option value="bho">Bhojpuri</option><option value="bs">Bosnian</option><option value="bg">Bulgarian</option><option value="ca">Catalan</option><option value="ceb">Cebuano</option><option value="ny">Chichewa</option><option value="zh-CN">Chinese (Simplified)</option><option value="zh-TW">Chinese (Traditional)</option><option value="co">Corsican</option><option value="hr">Croatian</option><option value="cs">Czech</option><option value="da">Danish</option><option value="dv">Dhivehi</option><option value="doi">Dogri</option><option value="nl">Dutch</option><option value="eo">Esperanto</option><option value="et">Estonian</option><option value="ee">Ewe</option><option value="tl">Filipino</option><option value="fi">Finnish</option><option value="fr">French</option><option value="fy">Frisian</option><option value="gl">Galician</option><option value="ka">Georgian</option><option value="de">German</option><option value="el">Greek</option><option value="gn">Guarani</option><option value="gu">Gujarati</option><option value="ht">Haitian Creole</option><option value="ha">Hausa</option><option value="haw">Hawaiian</option><option value="iw">Hebrew</option><option value="hi">Hindi</option><option value="hmn">Hmong</option><option value="hu">Hungarian</option><option value="is">Icelandic</option><option value="ig">Igbo</option><option value="ilo">Ilocano</option><option value="id">Indonesian</option><option value="ga">Irish</option><option value="it">Italian</option><option value="ja">Japanese</option><option value="jw">Javanese</option><option value="kn">Kannada</option><option value="kk">Kazakh</option><option value="km">Khmer</option><option value="rw">Kinyarwanda</option><option value="gom">Konkani</option><option value="ko">Korean</option><option value="kri">Krio</option><option value="ku">Kurdish (Kurmanji)</option><option value="ckb">Kurdish (Sorani)</option><option value="ky">Kyrgyz</option><option value="lo">Lao</option><option value="la">Latin</option><option value="lv">Latvian</option><option value="ln">Lingala</option><option value="lt">Lithuanian</option><option value="lg">Luganda</option><option value="lb">Luxembourgish</option><option value="mk">Macedonian</option><option value="mai">Maithili</option><option value="mg">Malagasy</option><option value="ms">Malay</option><option value="ml">Malayalam</option><option value="mt">Maltese</option><option value="mi">Maori</option><option value="mr">Marathi</option><option value="mni-Mtei">Meiteilon (Manipuri)</option><option value="lus">Mizo</option><option value="mn">Mongolian</option><option value="my">Myanmar (Burmese)</option><option value="ne">Nepali</option><option value="no">Norwegian</option><option value="or">Odia (Oriya)</option><option value="om">Oromo</option><option value="ps">Pashto</option><option value="fa">Persian</option><option value="pl">Polish</option><option value="pt">Portuguese</option><option value="pa">Punjabi</option><option value="qu">Quechua</option><option value="ro">Romanian</option><option value="ru">Russian</option><option value="sm">Samoan</option><option value="sa">Sanskrit</option><option value="gd">Scots Gaelic</option><option value="nso">Sepedi</option><option value="sr">Serbian</option><option value="st">Sesotho</option><option value="sn">Shona</option><option value="sd">Sindhi</option><option value="si">Sinhala</option><option value="sk">Slovak</option><option value="sl">Slovenian</option><option value="so">Somali</option><option value="es">Spanish</option><option value="su">Sundanese</option><option value="sw">Swahili</option><option value="sv">Swedish</option><option value="tg">Tajik</option><option value="ta">Tamil</option><option value="tt">Tatar</option><option value="te">Telugu</option><option value="th">Thai</option><option value="ti">Tigrinya</option><option value="ts">Tsonga</option><option value="tr">Turkish</option><option value="tk">Turkmen</option><option value="ak">Twi</option><option value="uk">Ukrainian</option><option value="ur">Urdu</option><option value="ug">Uyghur</option><option value="uz">Uzbek</option><option value="vi">Vietnamese</option><option value="cy">Welsh</option><option value="xh">Xhosa</option><option value="yi">Yiddish</option><option value="yo">Yoruba</option><option value="zu">Zulu</option></select></div>Powered by <span style="white-space:nowrap"><a class="VIpgJd-ZVi9od-l4eHX-hSRGPd" href="https://translate.google.com" target="_blank"><img src="https://www.gstatic.com/images/branding/googlelogo/1x/googlelogo_color_42x16dp.png" width="37px" height="14px" style="padding-right: 3px" alt="Google Translate">Translate</a></span></div></div>
<script type="text/javascript">
function googleTranslateElementInit() {
 new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
}
</script>


             <!-- User Account-->
             <li class="dropdown user user-menu">
                <a href="#" class="waves-effect waves-light dropdown-toggle btn-primary-light" data-bs-toggle="dropdown" title="User">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                </a>
                <ul class="dropdown-menu animated flipInX">
                  <li class="user-body">
                     <a class="dropdown-item" href="/profile"><i class="ti-user text-muted me-2"></i> Profile</a>
                     
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="/logout"><i class="ti-lock text-muted me-2"></i> Logout</a>
                  </li>
                </ul>
              </li>	
 
              <!-- Control Sidebar Toggle Button -->
              <li class="dropdown user user-menu">
                <a type="button" href="/fund_account" class="btn w-p100 btn-success ">Deposit</a>
              </li>
 
            </ul>
          </div>
        </nav>
      </div>
  </header>
  <style type="text/css">
      ._fund_type{
        margin: 1%;
        width: 249px;
        display: inline-block;
        overflow: hidden;
        /*border: 1px solid #00AFEF;*/
        background: #000000;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0px 0px 25px rgba(0,0,0,0.1);
        border-bottom: 10px solid #EEE;
      }
      ._imggg{
        height: 100px;
      }
      ._btnnnn, ._btnnnn_{
        width: 100%;
        display: block;
        overflow: hidden;
        font-size: 14pt;
        padding: 10px;
        background-color: #00AFEF;
        color: #FFFFFF;
        border-radius: 10px;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
        border: 1px solid #00AFEF;
      }
      ._btnnnn:hover, ._btnnnn_:hover{
        color: #00AFEF;
        background-color: #00000;
      }
      ._lay{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
        z-index: 100;
        top: 0;
        left: 0;
        transition: opacity 0.15s linear;
        display: none;
        overflow-y: scroll;
      }
      ._in_lay{
        margin: 30px auto;
        width: 95%;
        max-width: 600px;
        display: block;
        overflow: hidden;
        background-color: #000000;
        border-radius: 5px;
      }
      ._in_lay_hd, .inlcontent{
        width: 100%;
        padding: 20px;
        font-size: 12pt;
        border-bottom: 1px solid #EEE;
        word-wrap: break-word;
      }
      .close_inlay{
        display: block;
        width: 100%;
        padding: 20px;
        text-align: center;
        color: #FFF;
        background-color: red;
        cursor: pointer;
      }
    </style>
 
                        
                    
                
 <nav class="main-nav" role="navigation">
 
      <!-- Mobile menu toggle button (hamburger/x icon) -->
      <input id="main-menu-state" type="checkbox">
      <label class="main-menu-btn" for="main-menu-state">
        <span class="main-menu-btn-icon"></span> Toggle main menu visibility
      </label>
 
      <!-- Sample menu definition -->
      <ul id="main-menu" class="sm sm-blue" data-smartmenus-id="16868594542392144">
        
        <li><a href="/dashboard"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-monitor"><rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect><line x1="8" y1="21" x2="16" y2="21"></line><line x1="12" y1="17" x2="12" y2="21"></line></svg>Dashboard</a>
         
        </li>
        <li><a href="https://crypto.everworldwidelogistics.com/live-trade.php"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>Live Trade</a>
            
        </li>
 <li><a href="#" class="has-submenu" id="sm-16868594542392144-1" aria-haspopup="true" aria-controls="sm-16868594542392144-2" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>Account<i class="sub-arrow fa fa-angle-right"></i></a>
            <ul id="sm-16868594542392144-2" role="group" aria-hidden="true" aria-labelledby="sm-16868594542392144-1" aria-expanded="false" class="sm-nowrap" style="width: auto; display: none; top: auto; left: 0px; margin-left: 1px; margin-top: 0px; min-width: 10em; max-width: 20em;"> 
                <li><a href="/upgrade"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Upgrade Account</a></li>
                <li><a href="/verify"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Verify Account</a></li>
                <li><a href="/update_profile"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Update Account</a></li>
                <li><a href="/account_detail"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Account Details</a></li>
                
            </ul>
        </li>
        <li><a href="#" class="has-submenu" id="sm-16868594542392144-3" aria-haspopup="true" aria-controls="sm-16868594542392144-4" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>Deposit<i class="sub-arrow fa fa-angle-right"></i></a>
            <ul id="sm-16868594542392144-4" role="group" aria-hidden="true" aria-labelledby="sm-16868594542392144-3" aria-expanded="false" class="sm-nowrap" style="width: auto; display: none; top: auto; left: 0px; margin-left: 1px; margin-top: 0px; min-width: 10em; max-width: 20em;"> 
                <li><a href="/deposit"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Make Deposit</a></li>
                <li><a href="/deposits/history"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Deposit History</a></li>
                
                
            </ul>
        </li>
        <li><a href="#" class="has-submenu" id="sm-16868594542392144-5" aria-haspopup="true" aria-controls="sm-16868594542392144-6" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>Withdraw<i class="sub-arrow fa fa-angle-right"></i></a>
            <ul id="sm-16868594542392144-6" role="group" aria-hidden="true" aria-labelledby="sm-16868594542392144-5" aria-expanded="false" class="sm-nowrap" style="width: auto; display: none; top: auto; left: 0px; margin-left: 1px; margin-top: 0px; min-width: 10em; max-width: 20em;"> 
                <li><a href="/withdraw"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Make Withdraw</a></li>
                <li><a href="/withdraw_history"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Withdraw History</a></li>
                
                
            </ul>
        </li>
 
        
      <li><a href="/webtrader"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-pie-chart"><path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path><path d="M22 12A10 10 0 0 0 12 2v10z"></path></svg>Web Trade Terminer</a>
        
 </li><li><a href="#" class="has-submenu" id="sm-16868594542392144-7" aria-haspopup="true" aria-controls="sm-16868594542392144-8" aria-expanded="false"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>My Investment<i class="sub-arrow fa fa-angle-right"></i></a>
            <ul id="sm-16868594542392144-8" role="group" aria-hidden="true" aria-labelledby="sm-16868594542392144-7" aria-expanded="false" class="sm-nowrap" style="width: auto; display: none; top: auto; left: 0px; margin-left: 1px; margin-top: 0px; min-width: 10em; max-width: 20em;"> 
                <li><a href="/invest"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Invest </a></li>
                <li><a href="/investments"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Total Investment</a></li>
                
            </ul>
        </li><li><a href="/trade_history"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>Trade history</a>
            
        </li><li><a href="/support"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders"><line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line><line x1="12" y1="21" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="3"></line><line x1="20" y1="21" x2="20" y2="16"></line><line x1="20" y1="12" x2="20" y2="3"></line><line x1="1" y1="14" x2="7" y2="14"></line><line x1="9" y1="8" x2="15" y2="8"></line><line x1="17" y1="16" x2="23" y2="16"></line></svg>Customer Support</a>
            
        </li><li><a href="/update_profile"><i data-feather="grid"></i>Update Profile</a>
            
        </li><li><a href="/logout"><i data-feather="grid"></i>Sign Out</a>
            
        </li></ul>
    </nav> 
    <br>
    <br><br><br><br><br><br><br><br><br><br>
    