 <%-include("./partials/admin-top.ejs")%>

  <main>
    <section>
      <h2>Welcome to the Dashboard</h2>
      <!-- Your dashboard content goes here -->
    </section>
  </main>


  <%-include("./partials/admin-foot.ejs")%>