<%-include("./partials/admin-foot.ejs")%>
     <h4>Create new plan</h4>
<form action="/admin/New-plan" method="post">
    <input placeholder="rate" name="rate">
    <input placeholder="schedule" name="schedule">
    <input placeholder="planName" name="planName">
    <input placeholder="expiring date" name="expire">
    <button>submit</button>
</form>